# R environment
.Rhistory
.RData
.Rproj.user/
.Rapp.history

# Local libraries
lib/R_libs/

# IDE settings
/.vscode/
.idea/
.DS_Store

# Temporary/System files
.gemini/
gha-creds-*.json
presentation.txt
